body{
    height:100vh;
    width:100%;
    margin:0;
    border:3px solid red;
    box-sizing: border-box;
}

#packs{
    position:fixed;
    height:40%;
    width:15%;
    top:30%;
    left:15%;
    border:2px solid black;
    box-sizing: border-box;
}
#packs:hover{
    transform: scale(1.2);
}
#packImage{
    width:100%;
    height:90%;
    background-color: grey;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
#packText{
    width:100%;
    height:10%;
    text-align: center;
}

#album{
    position: fixed;
    height: min-content;
    width:20%;
    top:25%;
    right:10%;
    border:2px solid black;
    box-sizing: border-box;
}
#album:hover{
    transform: scale(1.2);
}


#albumImage{
    width:100%;
}
#albumText{
    width:100%;
    text-align: center;
    height:min-content;
    margin-bottom:0;
}
#signOut{
    position:fixed;
    right:5px;
    top:5px;
}
#swaps{
    position:fixed;
    height:40%;
    width:30%;
    left:35%;
    top:50%;
    box-sizing: border-box;
    border:1px solid black;
}
#swapHeading{
    box-sizing: border-box;
    width:100%;
    height:25%;
    text-align: center;
    border:1px solid black;
    margin-bottom: 0;
}
#swapContainer{
    box-sizing: border-box;
    border:1px solid black;
    height:75%;
    width:100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display:flex;
}
#swapList{
    display: none;
}
.swapBox{
    height:100%;
}
.swap{
    height:100%;
}
.hoverNode{
    height:min-content;
    width:21.21vh;
    box-sizing: border-box;
    color:blue;
    top:0px;
    display:none;
}
.swapRequest{
    width:100%;
}