body{
    height:100vh;
    margin:0;
    width:100%;
}
.cardContainer{
    position: fixed;
    top:30%;
    height:30%;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    border:1px solid red;
}
.card{
    height:100%;
    width:10%;
    border:1px solid blue;
}
.cardImg{
    height:100%;
    width:100%;
}
#packContents{
    display:none;
}
.hiddenInput{
    display: none;
}
#submitCards{
    position:fixed;
    width:10%;
    left:45%;
    top:65%;
}
.newStickerTag{
    position:absolute !important; /*Override bootstrap positioning */
    top:-40%; /* Position above sticker */
    width:100%;
    font-weight: bold;
    text-align: center;
}