<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/CSS/createAccount.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script><!--JQuery-->
    </head>
    <body>
        <h1>Create Account</h1>
        <form action="/submitNewAccount" method="post">
            <input type="text" placeholder="username" id="uname" name="uname">
            <input type="text" placeholder="password" id="pword" name="pword">
            <button type="submit">submit</button>
        </form>
        <button id="backToSignIn">Back to sign in</button>
        <script src="/static/JS/createAccount.js"></script>
    </body>
</html>