<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/CSS/openPacks.css">

        <!--Bootstrap5-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="cardContainer">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
        <form action="/logNewCards" method="post">
            <input type="text" name="uname" id="uname" class="hiddenInput">
            <input type="number" name="pack1" id="pack1" class="hiddenInput">
            <input type="number" name="pack2" id="pack2" class="hiddenInput">
            <input type="number" name="pack3" id="pack3" class="hiddenInput">
            <input type="number" name="pack4" id="pack4" class="hiddenInput">
            <input type="number" name="pack5" id="pack5" class="hiddenInput">
            <button type="submit" class="btn btn-success" id="submitCards">Continue</button>
        </form>
        <script src="/static/JS/openPacks.js"></script>
    </body>
</html>