<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/CSS/signIn.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script><!--JQuery-->
</head>
<body>
    <h1>Sign In</h1>
    <form action="/submitLogInForm" method="post">
        <input type="text" placeholder="username" id="uname" name="uname">
        <input type="text" placeholder="password" id="pword" name="pword">
        <button type="submit">submit</button>
    </form>
    <button id="createAccount">Create Account</button>
    <script src="/static/JS/signIn.js"></script>
</body>